.start {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    margin: 5em;
}

#clock {
    position: relative;
    width: 378px;
    height: 378px;
    background-image: url('../img/clockFace.png');
    left: 50%;
    margin: 5em 0 0 -189px;
}

#clock div {
    position: absolute;
}


/* ANIMACIONES Y TRANSFORMACIONES */