* {
    /* border: 1px solid #000; */
    box-sizing: border-box;
}

html, body {
    background-color: #f7f7f7;
}

body {
    font: 13pt/1.48em "source_sans_prolight", sans-serif;
    color: #464646;
}

a {
    color: #000;
    text-decoration: none;
}

ul {
    margin: 0;
}

table {
    width: 100%;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    margin-top: 0;
}

h1, .h1 {
    font-size: 2em; /* 28pt/14pt */
    line-height: 1.08em; /* 30.24pt/28pt */
    text-transform: uppercase;
    font-weight: normal;
}

.hidden {
    display: none;
}

/* Textos */
.bold, strong { font-family: "source_sans_probold" }
.italic { font-style: italic; }
.uppercase { text-transform: uppercase; }

.normal { font-weight: normal; }
.small { font-size: 0.8em; }
.big { font-size: 1.5em; }
.list { list-style: none; padding: 0; }
.center { text-align: center; }
.list p { margin: 0; }
.list li { margin: 20px 0; }
.list li:first-child { padding-top: 0; }
.list li h4 { color: #03f; font-style: italic; }
.list-blue li {
    background: transparent url("../img/list-blue.png") no-repeat 0 5px;
    padding-left: 20px;
}
.list-inline {
    text-align: center;
}
.list-inline li {
    display: inline;
    margin: 0 5px;
}

.list .col-75 {
    padding-left: 20px;
}

.price { font-size: 1.4em; font-weight: bold; }


/* Colores */
.txt-red { color: #F00; }
.txt-blue { color: #03f; }
.txt-black { color: #000; }
.bg-white { background-color: #FFF; }

/* Botones */
.btn {
    display: inline-block;
    width: 100px;
    padding: 5px;
    margin: auto 5px;

    color: #FFF;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;

    border-radius: 3px;
    box-shadow: 0 1px 4px #cdcdcd;
    background-image: linear-gradient(to bottom, #999, #CCC);
}

.btn-big {
    padding: 10px inherit;
    /*padding-top: 10px;
    padding-bottom: 10px;*/
}

.btn-red {
    background-image: linear-gradient(to bottom, #f74040 80%, #d33535);
}

/* Layout */
.wrapper {
    width: 990px;
    margin: 0 auto;
    padding: 40px 0;
}

.img-responsive {
    max-width: 100%;
    display: block;
}

.bg-gray:first-child .wrapper {
    padding-bottom: 0;
}

.description {
    padding-left: 20px;
}

.wrapper:before, .wrapper:after,
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.wrapper:after,
.clearfix:after {
    clear: both;
}

.fleft { float: left; }
.fright { float: right; }
.col-25 { width: 25%; }
.col-50 { width: 50%; }
.col-75 { width: 75%; }

.well {
    background-color:#FFF;
    padding: 15px;
    box-shadow: 0 0 5px #cdcdcd;
}

.well p {
    margin: 0.5em 0;
    line-height: 1em;
}

.well .price {
    margin-top: 25px;
}

.wrapper .col-50:first-child {
    padding-right: 40px;
}

.wrapper .col-50:last-child {
    padding-left: 40px;
    border-left: 1px solid #e9e9e9;
}

/* Cabecera */
.breadcrumb {
    text-transform: uppercase;
    list-style: none;
    padding: 0;
}

.breadcrumb li {
    display: inline-block;
}

.breadcrumb li:after {
    content: "/";
}

.breadcrumb li.actual:after {
    content: "";
}

.breadcrumb li:last-child:after {
    content: "";
}

.breadcrumb a {
    margin-right: 5px;
}

/* Tabla */
table {
    border-collapse: collapse;
}

table thead th {
    text-align: left;
    font-weight: normal;
    padding-bottom: 20px;
}

table tbody {
    border-bottom: 10px solid #FFF;
}

table tbody tr {
    border-top: 10px solid #FFF;
    border-left: 10px solid #FFF;
    border-right: 10px solid #FFF;
    background-color: #fafafa;
}

table tbody td {
    padding: 5px 0;
}

table tbody td * {
    vertical-align: middle;
}

table .social {
    background-color: #FFF;
    border: 1px solid #e9e9e9;
    text-align: center;
    padding: 7px 5px 6px 5px;
    display: inline-block;
    min-width: 100px;
}

table .social:hover .share {
    display: none;
}

table .social:hover .links {
    display: inline;
}

table tbody td:last-child {
    text-align: right;
};